*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1 {
  text-align: center;
  margin-top: 3rem;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
input {
  outline: none;
  border: 1px solid black;
  width: 300px;
  height: 30px;
  padding: 4px;
  color: #000;
}

img {
  height: 100px;
}
.credit {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
}
p {
  font-size: 2rem;
}

button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
