@import url("https://fonts.googleapis.com/css?family=Trirong");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-seri;
  font-weight: lighter;
  
}
.container {
  box-shadow: 2px 4px rgb(203, 203, 203);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  width: 1200px;
  height: 700px;
  background-color: rgb(179, 224, 244); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(134, 140, 207),rgb(172, 229, 236));
}


img {
  height: 100px;
}

.credit {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
}


button {
  cursor: pointer;
  background-color: rgba(116, 78, 186, 0.973);
  color: aliceblue;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-family: 'Quicksand', sans-seri;
  font-size: 20px;
  font-weight: lighter;
  border: solid rgb(150, 145, 169);
}

input{
  font-family: 'Quicksand', sans-seri;
  font-size: 20px;
  font-weight: lighter;
  display: block;
  box-sizing: border-box;
  width: 500px;
  border: 2px solid #333;
  outline: none;
  border: 1px solid rgb(150, 145, 169);
  height: 100%;
  border-radius: 25px;
  text-indent:20px;
}
input::placeholder {
  opacity: 0.3;
  color: hsl(0, 0%, 0%);
}

input:hover{
  outline: none;
  box-shadow: 0 0 0 4px hsl(213, 90%, 70%);
}

button:hover {
  outline: none;
  box-shadow: 0 0 0 4px hsl(213, 90%, 70%);
  background-color: rgb(145, 128, 175);
  color: aliceblue;
}

.heading {
  color: var(--color-content-primary,#121212);
    font-family: 'Quicksand', sans-seri;
    font-size: 20px;
    font-weight: lighter; 
    font-style: normal;
    font-size: 60px;
}

.search-sec {
  display: flex;
  flex-direction: row;
}

p {
  color: var(--color-content-primary,#121212);
    font-family: 'Quicksand', sans-seri;
    font-weight: lighter;
    font-size: 30px;
}